*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body > div{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}
div#main{
    height: 100vh;
}

div#input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8vh;
    padding: 5px;
}
div#htmlcode,
div#preview{
    position: absolute;
    float: left;
    overflow: auto;
}

@media (orientation: landscape) {
    div#htmlcode {
        top: 8vh;
        left: 0px;
        width: 50%;
        height: 92vh;
    }
    div#preview {
        top: 8vh;
        left: 50%;
        width: 50%;
        height: 92vh;
    }
}
@media (orientation: portrait) {
    div#htmlcode {
        top: 8vh;
        left: 0px;
        width: 100%;
        height: 46vh;
    }
    div#preview {
        top: 54vh;
        left: 0px;
        width: 100%;
        height: 46vh;
    }
}


div#input > input{
    line-height: 5vh;
    font-size: 2.5vh;
    border: 2px solid gray;
    border-radius: 0px;
    outline: none !important;
    width: 100%;
    margin-top: calc(3vh / 2 - 2px);
}
div#input > input:focus{
    border-color: black;
}

div#htmlcode > div,
div#preview > div{
    margin: 5px;
    margin-top: 0px;
    border: 2px solid gray;
    padding: 10px;
}
